@charset "utf-8";
#main{width:500px;height:735px;border:#bbada0 3px solid;}
header{text-align:center;display:block;width:500px;margin:0 auto;}
header h1{font-size:60px;font-weight:bold;}
header #newGame{width:100px;padding:10px;background:#F54648;color:#FFF;border-radius:10px;text-decoration:none;}
#newGame:hover{background:red;}
header p{font-size:25px;margin:20px auto;}
#grid-container{width:500px;height:500px;background:#bbada0;position:relative;}
.grid-cell{width:100px;height:100px;background:#ccc0b3;border-radius:6px;}
#grid-cell-0-0{position:absolute;top:20px;left:20px;}
#grid-cell-0-1{position:absolute;top:20px;left:140px;}
#grid-cell-0-2{position:absolute;top:20px;left:260px;}
#grid-cell-0-3{position:absolute;top:20px;left:380px;}

#grid-cell-1-0{position:absolute;top:140px;left:20px;}
#grid-cell-1-1{position:absolute;top:140px;left:140px;}
#grid-cell-1-2{position:absolute;top:140px;left:260px;}
#grid-cell-1-3{position:absolute;top:140px;left:380px;}

#grid-cell-2-0{position:absolute;top:260px;left:20px;}
#grid-cell-2-1{position:absolute;top:260px;left:140px;}
#grid-cell-2-2{position:absolute;top:260px;left:260px;}
#grid-cell-2-3{position:absolute;top:260px;left:380px;}

#grid-cell-3-0{position:absolute;top:380px;left:20px;}
#grid-cell-3-1{position:absolute;top:380px;left:140px;}
#grid-cell-3-2{position:absolute;top:380px;left:260px;}
#grid-cell-3-3{position:absolute;top:380px;left:380px;}
.number-cell{width:100px;height:100px;border-radius:6px;position:absolute;font-size:50px;text-align:center;font-weight:bold;line-height:100px;}
#number-cell-0-0{position:absolute;top:20px;left:20px;}
#number-cell-0-1{position:absolute;top:20px;left:140px;}
#number-cell-0-2{position:absolute;top:20px;left:260px;}
#number-cell-0-3{position:absolute;top:20px;left:380px;}

#number-cell-1-0{position:absolute;top:140px;left:20px;}
#number-cell-1-1{position:absolute;top:140px;left:140px;}
#number-cell-1-2{position:absolute;top:140px;left:260px;}
#number-cell-1-3{position:absolute;top:140px;left:380px;}

#number-cell-2-0{position:absolute;top:260px;left:20px;}
#number-cell-2-1{position:absolute;top:260px;left:140px;}
#number-cell-2-2{position:absolute;top:260px;left:260px;}
#number-cell-2-3{position:absolute;top:260px;left:380px;}

#number-cell-3-0{position:absolute;top:380px;left:20px;}
#number-cell-3-1{position:absolute;top:380px;left:140px;}
#number-cell-3-2{position:absolute;top:380px;left:260px;}
#number-cell-3-3{position:absolute;top:380px;left:380px;}

